/* Responsive container of the svg element */
.responsive-svg-container {
  width: 100%;
  max-width: 1200px;
}

/* Labels */
.leaf-label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
  line-height: 1.1;
  text-align: center;
}

.disappear
{
  display: none;
}

/* Interactions */
#info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
#instructions,
#instructions-treemap {
  padding: 15px 20px;
  border: 1px solid #272626;
  border-radius: 5px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 200ms ease;
}
#info,
#info-treemap {
  max-height: 200px;
  overflow: hidden;
  opacity: 1;
  transition: opacity 200ms ease;
}
#info.hidden,
#instructions.hidden,
#info-treemap.hidden,
#instructions-treemap.hidden {
  max-height: 0;
  opacity: 0;
}
#instructions.hidden,
#instructions-treemap.hidden {
  padding-top: 0;
  padding-bottom: 0;
  border-color: transparent;
}
.info-language {
  margin-bottom: 6px;
  font-size: 2rem;
  font-weight: 500;
  border-bottom: 1px solid #272626;
}
#info .label,
#info-treemap .label {
  font-weight: 500;
}

#filters {
  margin: 10px 0px 5px;
}
.filter {
  min-width: 80px;
  margin: 0 5px;
  padding: 8px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #faffff;
  font-weight: 500;
  background-color: rgba(48, 82, 82, 0.5);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3ms ease-in;
}
.filter:hover,
.filter.active {
  background-color: rgb(1, 133, 133);
  transition-timing-function: ease-out;
}
.filter.active {
  cursor: default;
}